.addButton {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;

  padding: 0;
  margin: 0 auto;
  display: block;
  font-size: 0.8em;

  height: 6vh;
  width: 6vh;

  min-height: 35px;
  min-width: 35px;

  &:active {
    transform: translateY(-1px);
    border-radius: 10px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    outline: none;
  }
}

.text {
  font-size: 0.9em;
  text-align: center;
  color: #ccc;

  margin-top: 2vh;
  white-space: nowrap;
}
