.container {
  height: 70px;
  width: 70px;
}

.addButton {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  height: 50px;

  padding: 0;
  margin: 0 9.25px;

  height: 50px;
  width: 50px;

  &:active {
    transform: translateY(-1px);
    border-radius: 10px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    outline: none;
  }
}

.text {
  text-align: center;
  color: #ccc;

  margin-top: 15px;
}
