.container {
  width: 100%;
  height: 3vh;

  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  justify-content: center;
  align-items: center;
}

.splitText {
  text-align: left;
  color: #000;

  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;

  margin: 0;

  &Zero {
    font-weight: 700;
  }

  &One {
    font-weight: 200;
    color: #ccc;
  }
}

.splitBorder {
  border: 0.5px solid #ccc;
  height: 0.5px;

  &Right {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;

    @media screen and (max-width: 390px) {
      grid-column-start: 10;
    }
    
    @media screen and (max-width: 335px) {
      grid-column-start: 11;
    }
  }
}

.newTodoListForm {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;

  margin: 26px auto;
}
