.container {
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  height: 35vh;
  width: 40vw;

  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: fit-content(1%);

  text-decoration: none;
}

.title {
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;

  padding-bottom: 1.5vh;
  margin: 4vh 0 1.5vh 0;

  border-bottom: 0.5px solid #e6e6e6;

  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}

.miniTodoList {
  grid-column-start: 3;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 2;
}

.miniTodoListItem {
  color: #fff;
  font-size: 0.8em;
  text-align: left;
  justify-content: center;

  margin: 2.5vh 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  input[type='checkbox']:disabled {
    background-color: #fff;
    color: #fff;

    margin: 0 3vw 0 0;
    padding: 0;
  }

  span {
    vertical-align: top;
  }
}
