.container {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.title {
  font-size: 1.8em;
  line-height: 38px;

  margin: 0 0 8px 0;

  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}

.listNumber {
  font-size: 1em;
  line-height: 24px;
  font-weight: 300;

  color: #ccc;

  margin: 0 0 24px 0;

  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
}

.separator {
  border: 0.5px solid #ccc;
  height: 0.5px;

  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
}
