.gridParent {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logoGridChild {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  margin: 3em 0 0 2em;
}

.closeGridChild {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;

  margin: 3em 2em 0 0;
}

.titleGridChild {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;
}

.todoContainer {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;
}

.addContainer {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 4;
}

.tinyTodoContainer {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 4;
}
