.gridParent {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logoGridChild {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;

  margin: 4vh 0 0 3vh;
}

.closeGridChild {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;

  margin: 4vh 3vh 0 0;
}

.titleGridChild {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 2;

  margin-top: 5vh;
}

.todoContainer {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 3;

  margin: 1em 0 0 0;
}

.addAndTinyTodoContainer {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  position: absolute;
  bottom: 0;

  width: 100%;
  margin-bottom: 3vh;

  .addContainer {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;

    margin-left: 5vh;
  }

  .tinyTodoContainer {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;

    position: absolute;
    bottom: -0.3vh;
  }
}
