.container {
}

.tinyTodo {
  display: inline-block;

  border: 1px solid #bddbfa;
  border-radius: 3px;

  width: 4px;
  background-color: #bddbfa;

  margin: 0 4px;
}

.active {
  height: 24px;
}

.inactive {
  height: 16px;
}
